.col-container {
  display: flex;
}

.cell {
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  cursor: crosshair;
  position: relative;
}

.ghost {
  display: flex;
  font-size: 8rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hammer {
  position: absolute;
  top: 0;
}
