.dropdown-icon {
  display: flex;
  height: 1.5rem;
  width: 2rem;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  box-shadow: 2px 3px 10px #333333;
  border-radius: 4px;

  cursor: pointer;
  width: 100%;
  user-select: none;
}
