.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  min-width: 170px;
}

.dropdown-item {
  padding: 2px;

  flex: 0 0 auto;
}

.selected {
  background-color: bisque;
}

.dropdown-item-container-multi {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: left;
  width: 100%;
  border-bottom: 0.5px solid grey;
  padding: 1px 5px;
}
.dropdown-item-container-single {
  /* display: grid; */
  /* grid-template-columns: 1fr 3fr; */
  /* text-align: left; */
  width: 100%;
  border-bottom: 0.5px solid grey;
  padding: 1px 5px;
}
.dropdown-item-container-multi {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: left;
  width: 100%;
  border-bottom: 0.5px solid grey;
  padding: 1px 5px;
}

.checkbox {
  width: 1rem;
}
